# Maven target directory
/target/

# IntelliJ IDEA files
/.idea/
/*.iml
.DS_Store

# Keystore, truststore and certificate files
src/main/resources/*.jks
src/main/resources/*.cer
src/main/resources/*.p12